<div>
<h1>Listing services et de leurs employés</h1>

{% for employe in data.employes %}
<div>

<p class="servicetitle">{{ (employe.title) }}</p>
<p class="description">{{ (employe.description) }}</p>
        <p class="relationtitle">{{ employe.nom }}</p>
         <p class="relationprenom">{{ employe.prenom }}</p>
          <p class="relationadresse">{{ employe.adresse }}</p>

{% endfor %}

</div>
</div>